* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #D86E31;
  --light-orange: #e0a17d59;
  --dark-gray: #4d4d4d;
  --light-gray: #AFAFAF;
  --clear-gray: #dddddd;
}

.btn {
  background-color: var(--primary-color);
  padding: 6px 14px;
  color: white;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  padding: 0 90px;
  border-bottom: 1px solid var(--clear-gray);
}

header ul .site-logo {
  width: 12%;
}

header ul .menu-items {
  width: 78%;
}

header ul .menu-items li {
  display: inline;
  margin: 20px;
}

header ul .menu-items li a {
  color: var(--dark-gray);
}

header ul .menu-items li a:hover {
  color: black;
  text-decoration: none;
  padding: 35px 0;
  border-bottom: 3px solid var(--primary-color);
}

header ul .menu-items li a:focus {
  text-decoration: none;
}

header ul .nav-right-imgs {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul .nav-right-imgs .cart-icon {
  position: relative;
  margin-right: 30px;
}

header ul .nav-right-imgs .cart-icon:hover {
  cursor: pointer;
  -webkit-filter: contrast(30);
          filter: contrast(30);
}

header ul .nav-right-imgs .cart-icon #items_number {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: var(--primary-color);
  color: white;
  padding: 1px 6px;
  border-radius: 20px;
  font-size: 10px;
}

header ul .nav-right-imgs .avatar-img {
  width: 40px;
}

header ul .nav-right-imgs .avatar-img:hover {
  border: 3px solid var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
}

header #cart-container {
  position: relative;
}

header #cart-container .cart-box {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 280px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 9;
  display: none;
}

header #cart-container .cart-box h4 {
  margin: 0;
}

header #cart-container .cart-box .cart-title {
  border-bottom: 1px solid var(--light-gray);
  padding: 14px;
}

header #cart-container .cart-box .product-on-cart {
  display: none;
}

header #cart-container .cart-box .cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px 14px;
}

header #cart-container .cart-box .cart-items .cart-product {
  width: 50px;
  border-radius: 5px;
}

header #cart-container .cart-box .cart-items .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
}

header #cart-container .cart-box .cart-items span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #cart-container .cart-box .cart-items P {
  color: #7f7f7f;
  margin: 0;
  font-size: 13px;
}

header #cart-container .cart-box .cart-items .delete-icon:hover {
  cursor: pointer;
}

.main-img {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 70px;
  z-index: 9;
  display: none;
}

.main-img::-webkit-backdrop {
  background-color: #4d4d4d56;
}

.main-img::backdrop {
  background-color: #4d4d4d56;
}

.container {
  padding: 50px 0;
}

.container .col-sm-6 {
  height: 720px;
}

.container .col-sm-6.col-first {
  height: 100%;
}

.container .col-sm-6.col-first .img-previewed {
  width: 100%;
  border-radius: 20px;
}

.container .col-sm-6.col-first .img-previewed:hover {
  cursor: pointer;
}

.container .col-sm-6 .container-img-minimized {
  margin-top: 30px;
}

.container .col-sm-6 .container-img-minimized .col-sm-3 {
  padding: 0;
  margin-right: 37px;
}

.container .col-sm-6 .container-img-minimized .col-sm-3:last-child {
  margin-right: 0;
}

.container .col-sm-6 .container-img-minimized .col-sm-3 img {
  width: 100%;
  border-radius: 16px;
}

.container .col-sm-6 .container-img-minimized .minimized {
  width: 20%;
}

.container .col-sm-6 .container-img-minimized .minimized:hover {
  opacity: 0.6;
  cursor: pointer;
}

.container .col-sm-6 .container-img-minimized .minimized.active {
  border: 3px solid var(--primary-color);
  opacity: .6;
  border-radius: 18px;
}

.container .col-sm-6 .clicked {
  border: 2px solid red;
}

.container .col-sm-6.col-second {
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .col-sm-6.col-second h4 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .2rem;
}

.container .col-sm-6.col-second h1,
.container .col-sm-6.col-second h2 {
  font-weight: bold;
}

.container .col-sm-6.col-second h2::after {
  content: "50%";
  font-size: 10px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: var(--primary-color);
  background-color: var(--light-orange);
  padding: 4px;
  margin-top: -6px;
}

.container .col-sm-6.col-second strike {
  color: var(--light-gray);
}

.container .col-sm-6.col-second .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.container .col-sm-6.col-second .btns .btn {
  font-size: 24px;
  color: var(--primary-color);
}

.container .col-sm-6.col-second .btns .btn-and-input {
  background-color: #DDD;
}

.container .col-sm-6.col-second .btns .in-line {
  width: 50px;
  height: 40px;
  vertical-align: middle;
  line-height: normal;
  background-color: #DDD;
}

.container .col-sm-6.col-second .btns input {
  border: 0;
  text-align: center;
  border-radius: 5px;
}

.container .col-sm-6.col-second .btns input:focus {
  outline: 0;
}

.container .col-sm-6.col-second .btns .cart {
  font-size: 14px;
  background-color: var(--primary-color);
  color: white;
  padding: 9px 50px;
  margin-left: 10px;
}

.container .col-sm-6.col-second .btns .cart img {
  width: 14px;
  -webkit-filter: brightness(3);
          filter: brightness(3);
  margin-right: 8px;
}

.container .col-sm-6.col-second .btns .cart:hover {
  opacity: 0.8;
}

/* Smaller than [ 1024px ] - Tablet */
/* Smaller than [ 480px ] - Mobile */
@media only screen and (max-width: 480px) {
  .container .col-first {
    padding: 0;
    height: 280px !important;
  }
  .container .col-first .img-previewed {
    border-radius: 0 !important;
  }
  .container .container-img-minimized {
    display: none;
  }
  .container .col-sm-6.col-second {
    padding: 30px;
  }
  .container .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .price strike {
    line-height: 70px;
  }
  .container .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .btns .in-line {
    width: 32.5% !important;
  }
  .container .btns .cart {
    margin-top: 20px;
    margin-left: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */